<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end" *ngIf="textService.parts.length || true">
      <ion-icon size="large" [name]="isReverse ? 'arrow-down-circle-outline' : 'arrow-up-circle-outline'"
        (click)="isReverse = !isReverse">
      </ion-icon>
    </ion-buttons>

    <ion-title>{{ textService.parts.length ? 'Tap to copy' : 'Fill data to generate list' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let part of (isReverse ? (textService.parts.reverse()) : (textService.parts))">
      <textarea class="native-textarea sc-ion-textarea-md" readonly (click)="onClick($event)"
      [value]="part"
        style="margin: 20px auto;white-space: pre-wrap;min-height: 100px;">
    </textarea>
    </ion-item>
    <hr>
  </ion-list>
</ion-content>